!**/src/**/build
!**/test/**/build
!**/testData/**/*.iml
*.iml
*.versionsBackup
.DS_Store
.gradle/
.idea
.rpt2_cache/
/android-studio/sdk
/android.tests.dependencies
/clionSDK
/confluence/target
/dependencies/android.tests.dependencies
/dependencies/repo
/dist
/gh-pages
/idea/testData/debugger/tinyApp/classes*
/ideaSDK
/intellij
/jps-plugin/testData/kannotator
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
/js/js.translator/testData/out/
/kotlin-native/dist
/local
/test.output
/tmp
build/
buildSrcTmp/
distTmp/
kotlin-ide/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
node_modules/
out/
outTmp/
workspace.xml
